@page "/countries/create"

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-globe-americas" /> Crear País
            <a class="btn btn-sm btn-success float-end" href="/Countries"><i class="bi bi-arrow-left" />  Regresar</a>
        </span>
    </div>
    <div class="card-body">

        <FormWithName @ref="countryForm" Label="País:" Model="country" OnValidSubmit="CreateAsync" ReturnAction="Return" />

    </div>
</div>
