@page "/countries"

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-globe-americas"/> Países
            <a class="btn btn-primary btn-sm float-end" href="/countries/create"><i class="bi bi-plus-square" /> Nuevo País</a>
        </span>
    </div>
    <div class="card-body">
        <Filter PlaceHolder="Buscar Pais..." Callback=@FilterCallBack />
        <GenericList MyList="Countries">
            <Body>
                <div style="display: flex; align-items: center; justify-content: space-between;">

                            <Pagination CurrentPage="currentPage"
                            TotalPages="totalPages"
                            SelectedPage="SelectedPageAsync" />

                            <div>
                <label for="paginationAmount">Cantidad Paginado</label>
                <select id="paginationAmount" class="form-control" value="10" @onchange="HandleChange">
                        @foreach (var userType in Values)
                        {
                                <option value="@userType">@userType</option>
                        }
                </select>
            </div>
          </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>País</th>
                            <th style="width:210px">Estados / Departamentos</th>
                            <th style="width:210px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var country in Countries!)
                        {
                            <tr>
                                <td>
                                        <td><a href="/countries/details/@country.Id"> @country.Name</a></td>
                                </td>
                                <td>
                                    @country.StatesNumber
                                </td>
                                <td>
                                    <a href="/countries/edit/@country.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil" /> Editar</a>
                                    <button class="btn btn-sm btn-danger" @onclick=@(() => DeleteAsync(country))><i class="bi bi-trash" />Borrar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div>
