<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HandyMan+</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/categories">
                <span class="bi bi-check-square-fill-nav-menu" aria-hidden="true"></span> Categorias
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="/countries">
                <span class="bi bi-globe-americas-fill-nav-menu" aria-hidden="true"></span> Paises
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>expandSubNav = !expandSubNav">
                <span class="bi bi-globe-americas-fill-nav-menu" aria-hidden="true"></span>Gestion
            </NavLink>
             @if (expandSubNav)
             {
                 <ul class="nav flex-column">
                     <li class="nav-item px-3">
                         <NavLink class="nav-link" href="/countries">
                            <span class="bi bi-globe-americas-fill-nav-menu" aria-hidden="true"></span>Servicios
                        </NavLink>
                     </li>
                     <li class="nav-item px-3">
                         <NavLink class="nav-link" href="/countries">
                                    <span class="bi bi-person-gear"></span>Proveedores
                        </NavLink>
                     </li>
                      <li class="nav-item">
                         <NavLink class="nav-link" href="/subscriptions">
                            <span class="bi bi-person-check-nav-menu" aria-hidden="true"></span>Tipos de subscripciones
                        </NavLink>
                     </li>
                     <li class="nav-item">
                         <NavLink class="nav-link" href="/surveyDefinitions">
                            <span class="bi bi-person-check-nav-menu" aria-hidden="true"></span>Encuestas
                        </NavLink>
                     </li>

                 </ul>
                
                
             }
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandSubNav;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
