@page "/RecoverPassword"
@if (loading)
{
    <Loading />
}
  
   
<EditForm Model="emailDTO" OnValidSubmit="SendRecoverPasswordEmailTokenAsync">
        <DataAnnotationsValidator/>
        <MatDialogTitle>Recuperar Contraseña</MatDialogTitle>
        <MatDialogContent>
            <div class="mat-layout-grid">
                <div class="mat-layout-grid-inner">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                        <p>
                            <MatTextField class="form-control" Label="Email" @bind-Value="@emailDTO.Email" />
                            <ValidationMessage For="@(() => emailDTO.Email)" />
                        </p>
                        <MatDialogActions>
                             <MatButton OnClick="CloseModalAsync">No Gracias</MatButton>
                            <MatButton Type="submit" Raised="true">Entrar</MatButton>
                        </MatDialogActions>
                    </div>
                </div>
            </div>
  
        </MatDialogContent>
        
 </EditForm>


   