@page "/ResendToken"

@if (loading)
{
    <Loading />
}
  <EditForm Model="emailDTO" OnValidSubmit="ResendConfirmationEmailTokenAsync">
        <DataAnnotationsValidator/>
        <MatDialogTitle>Reenviar Correo de Confirmación de Contraseña</MatDialogTitle>
        <MatDialogContent>
            <div class="mat-layout-grid">
                <div class="mat-layout-grid-inner">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                        <p>
                            <MatTextField class="form-control" type="text" Label="Email" @bind-Value="@emailDTO.Email" />
                            <ValidationMessage For="@(() => emailDTO.Email)" />

                        </p>

                        <MatDialogActions>
                             <MatButton type="button" OnClick="CloseModalAsync">Regresar</MatButton>
                             <MatButton type="submit">Reenviar</MatButton>
                        </MatDialogActions>
                    </div>
                </div>
            </div>
  
        </MatDialogContent>
        
 </EditForm>