@page "/cities/edit/{CityId:int}"

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-globe-americas"/> Editar Ciudad
        </span>
    </div>
    <div class="card-body">
        @if (city is null)
        {
                <Loading />
        }
        else
        {
                <FormWithName @ref="cityForm" Label="Ciudad:" Model="city" OnValidSubmit="SaveAsync" ReturnAction="Return" />
        }
    </div>
</div>