@page "/cities/create/{StateId:int}"

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-globe-americas" /> Nueva Ciudad
        </span>
    </div>
    <div class="card-body">
        <FormWithName @ref="cityForm" Label="Ciudad:" Model="city" OnValidSubmit="CreateAsync" ReturnAction="Return" />
     </div>
</div>