@page "/states/create/{CountryId:int}"

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-globe-americas" /> Nuevo Estado/Departamento
        </span>
    </div>
    <div class="card-body">
        <FormWithName @ref="stateForm" Label="Estado/Departamento:" Model="state" OnValidSubmit="CreateAsync" ReturnAction="Return" />
    </div>
</div>