@page "/subscriptions/edit/{Id:int}"

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-globe-americas"/> Editar Tipo de subscripción
        </span>
    </div>
    <div class="card-body">
        @if (subscriptionType is null)
        {
                <Loading/>
        }
        else
        {
                            <SubscriptionTypeForm @ref="subscriptionTypeForm"  SubscriptionType="subscriptionType" OnValidSubmit="EditAsync" ReturnAction="Return" />
        }
    </div>
</div>