@page "/subscriptions/create"

<h3>Crear Tipo de subscripción</h3>

<SubscriptionTypeForm   @ref="subscriptionTypeForm" SubscriptionType="subscriptionType" OnValidSubmit="CreateAsync" ReturnAction="Return" />
