@page "/servicesview"


 <div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2"></div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
             <MatTextField @bind-Value="search" Label="buscar"></MatTextField>
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2"></div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
             <MatCard class="demo-mat-card">
                <div class="demo-mat-card-content">
                    <MatHeadline6 class="demo-mat-card-clean-margin">
                        Our Changing Planet
                    </MatHeadline6>
                    <MatSubtitle2 class="demo-mat-card-clean-margin">
                        by Kurt Wagner
                    </MatSubtitle2>
                </div>
                <MatCardContent>
                    <MatCardMedia Wide="true" ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"></MatCardMedia>
                    <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                        Visit ten places on our planet that are undergoing the biggest changes today.
                    </MatBody2>
                </MatCardContent>
                <MatCardActions>
                    <MatCardActionButtons>
                        <MatButton>Read</MatButton>
                        <MatButton>Bookmark</MatButton>
                    </MatCardActionButtons>
 
                    <MatCardActionIcons>
                        <MatIconButton Icon="@MatIconNames.Favorite"></MatIconButton>
                        <MatIconButton Icon="@MatIconNames.Dashboard"></MatIconButton>
                    </MatCardActionIcons>
                </MatCardActions>
            </MatCard>
        </div>
    </div>
</div>

