@page "/surveyDefinition/create"

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-globe-americas"/> Crear pregunta de encuesta:
        </span>
    </div>
    <div class="card-body">
        <SurveyDefinitionForm   @ref="surveyDefinitionForm" SurveyDefinitionEntity="surveyDefinitionEntity" OnValidSubmit="CreateAsync" ReturnAction="Return" />
    </div>
</div>