@page "/surveyDefinition/edit/{Id:int}"

<h3>Editar Pregunta de encuesta</h3>

@if (surveyDefinitionEntity is null)
{
        <Loading/>
}
else
{
                    <SurveyDefinitionForm @ref="surveyDefinitionForm"  SurveyDefinitionEntity="surveyDefinitionEntity" OnValidSubmit="EditAsync" ReturnAction="Return" />
}
