@page "/surveyDefinition/create"

<h3>Crear pregunta de encuesta:</h3>

<SurveyDefinitionForm   @ref="surveyDefinitionForm" SurveyDefinitionEntity="surveyDefinitionEntity" OnValidSubmit="CreateAsync" ReturnAction="Return" />
